flows.json
[
    {
        "id": "9220226561862fc2",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "80ee16c1451b41a8",
        "type": "inject",
        "z": "9220226561862fc2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 40,
        "wires": [
            [
                "82592bb286961741"
            ]
        ]
    },
    {
        "id": "82592bb286961741",
        "type": "function",
        "z": "9220226561862fc2",
        "name": "Generacion Solar (W vs Tiempo)",
        "func": "msg.topic = \"Generación\";\nmsg.payload = Math.floor(Math.random() * 1000) + 200;\n\nflow.set(\"generacion\", msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 120,
        "wires": [
            [
                "14387adac598fe61",
                "6488ea7ef27e3854",
                "e5d71496a330fc31",
                "2b99915d5786bcf2",
                "b70f3344ed8222fc",
                "01216a55625c6c97",
                "0516edf532d66887"
            ]
        ]
    },
    {
        "id": "14387adac598fe61",
        "type": "debug",
        "z": "9220226561862fc2",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 20,
        "wires": []
    },
    {
        "id": "6488ea7ef27e3854",
        "type": "ui_chart",
        "z": "9220226561862fc2",
        "name": "",
        "group": "4e320cbc564278df",
        "order": 1,
        "width": "12",
        "height": "5",
        "label": "Generacion Solar (W vs Tiempo)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#edd11d",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 210,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "a188fab1dcaff439",
        "type": "function",
        "z": "9220226561862fc2",
        "name": "function consumo",
        "func": "// ============================================\n// FUNCIÓN PARA GRÁFICA DE CONSUMO\n// Recibe datos desde \"suma de circuitos\"\n// ============================================\n\n// El valor de consumo real viene en msg.payload\nlet consumoReal = msg.payload;\n\n// Asegurar que sea número\nconsumoReal = Number(consumoReal);\nif (isNaN(consumoReal)) consumoReal = 0;\n\n// Configurar mensaje para la gráfica\nmsg.topic = \"Consumo\";\nmsg.payload = consumoReal;\n\n// Guardar para otros nodos (compatibilidad)\nflow.set(\"consumo\", consumoReal);\n\n// Depuración\nnode.warn(`📊 GRÁFICA CONSUMO REAL: ${consumoReal} W`);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1210,
        "y": 40,
        "wires": [
            [
                "8e2d48aa4a25aa66",
                "e5d71496a330fc31",
                "2b99915d5786bcf2",
                "0a4584301b160bd3",
                "70abe89d5de88eec"
            ]
        ]
    },
    {
        "id": "8e2d48aa4a25aa66",
        "type": "ui_chart",
        "z": "9220226561862fc2",
        "name": "",
        "group": "a381315b0257b8e7",
        "order": 1,
        "width": "6",
        "height": "5",
        "label": "Historial Consumo energetico (W)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1480,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "e5d71496a330fc31",
        "type": "function",
        "z": "9220226561862fc2",
        "name": "Comparacion",
        "func": "let gen = flow.get(\"generacion\");\nlet con = flow.get(\"consumo\");\n\nif (gen === undefined || con === undefined) {\n    return null;\n}\n\nlet estado = gen > con;\nlet mensaje = estado ? \"ENERGÍA SUFICIENTE\" : \"CONSUMO EXCESIVO\";\nlet color = estado ? \"#00ff00\" : \"#ff4444\";\nlet fondo = estado ? \"#0a2e0a\" : \"#2a0000\";\nlet emoji = estado ? \"✅⚡\" : \"⚠️🔥\";\n\nmsg.payload = `\n<div style=\"\n    background: ${fondo};\n    border-radius: 20px;\n    padding: 20px;\n    text-align: center;\n    border: 2px solid ${color};\n    box-shadow: 0 0 20px ${color};\n\">\n    <div style=\"font-size: 48px;\">${emoji}</div>\n    <div style=\"font-size: 22px; font-weight: bold; color: ${color}; margin: 10px 0;\">\n        ${mensaje}\n    </div>\n    <div style=\"font-size: 32px; font-weight: bold;\">\n        <span style=\"color: #00ff00;\">${gen}</span>\n        <span style=\"color: white;\"> vs </span>\n        <span style=\"color: #ff9800;\">${con}</span>\n    </div>\n    <div style=\"font-size: 18px; margin-top: 10px; color: ${color};\">\n        ${estado ? `✔ +${gen - con} W` : `⚠ -${con - gen} W`}\n    </div>\n</div>\n`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1370,
        "y": 160,
        "wires": [
            [
                "550c58045daf937d"
            ]
        ]
    },
    {
        "id": "550c58045daf937d",
        "type": "ui_text",
        "z": "9220226561862fc2",
        "group": "5615d5019022dac6",
        "order": 1,
        "width": "6",
        "height": "3",
        "name": "",
        "label": "ESTADO ENERGETICO DEL SISTEMA",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Times New Roman,Times,serif",
        "fontSize": "16",
        "color": "#f59105",
        "x": 1440,
        "y": 240,
        "wires": []
    },
    {
        "id": "1b2806463b2decb6",
        "type": "function",
        "z": "9220226561862fc2",
        "name": "Inversor",
        "func": "// Obtener energía del MPPT (no del WiFi)\nlet energiaMPPT = flow.get(\"energia_mppt\") || 500;\n\n// Obtener factor WiFi\nlet factorWiFi = flow.get(\"factor_wifi\") || 1;\n\n// Aplicar factor WiFi a la energía\nlet energiaDC = energiaMPPT * factorWiFi;\n\nlet eficiencia = 0.9;\nlet salida = energiaDC * eficiencia;\n\nmsg.payload = Math.round(salida);\n\nnode.warn(`Inversor: ${energiaMPPT}W (MPPT) × ${factorWiFi} (WiFi) × 0.9 = ${msg.payload}W`);\n\n// Guardar para otros nodos\nflow.set(\"energia_ac\", msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1060,
        "wires": [
            [
                "3976f46b68afcfcd",
                "a05cfa5692648562",
                "2962f156618cf57c",
                "10212fc9bed7c3ae"
            ]
        ]
    },
    {
        "id": "3976f46b68afcfcd",
        "type": "ui_chart",
        "z": "9220226561862fc2",
        "name": "",
        "group": "4e320cbc564278df",
        "order": 2,
        "width": "6",
        "height": "5",
        "label": "Energia Disponible AC (W)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 220,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "2b99915d5786bcf2",
        "type": "function",
        "z": "9220226561862fc2",
        "name": "Eficiencia",
        "func": "let gen = flow.get(\"generacion\") || 0;\nlet con = flow.get(\"consumo\") || 0;\n\nif (gen === 0 || con === 0) {\n    return null;\n}\n\n// nueva fórmula coherente\nlet eficiencia = (gen / con) * 100;\n\n// limitar a 100% máximo\nif (eficiencia > 100) {\n    eficiencia = 100;\n}\n\nmsg.payload = eficiencia.toFixed(2) + \" %\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 260,
        "wires": [
            [
                "465ee2f04dfd25cd"
            ]
        ]
    },
    {
        "id": "465ee2f04dfd25cd",
        "type": "ui_text",
        "z": "9220226561862fc2",
        "group": "5615d5019022dac6",
        "order": 2,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "EFICIENCIA ENERGETICA DEL SISTEMA ",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Times New Roman,Times,serif",
        "fontSize": "15",
        "color": "#f4930b",
        "x": 1370,
        "y": 340,
        "wires": []
    },
    {
        "id": "0a4584301b160bd3",
        "type": "function",
        "z": "9220226561862fc2",
        "name": "Alerta Consumo",
        "func": "let consumo = msg.payload;\n\nif (consumo > 900) {\n    msg.payload = \"🔴 Sobreconsumo\";\n} else if (consumo > 600) {\n    msg.payload = \"🟡 Consumo medio\";\n} else {\n    msg.payload = \"🟢 Consumo normal\";\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 320,
        "wires": [
            [
                "97cab898aca29b28"
            ]
        ]
    },
    {
        "id": "97cab898aca29b28",
        "type": "ui_text",
        "z": "9220226561862fc2",
        "group": "5615d5019022dac6",
        "order": 3,
        "width": "6",
        "height": "2",
        "name": "",
        "label": "ALERTA DE CONSUMO",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1010,
        "y": 380,
        "wires": []
    },
    {
        "id": "0660f4a9a62cbd82",
        "type": "ui_chart",
        "z": "9220226561862fc2",
        "name": "",
        "group": "4e320cbc564278df",
        "order": 3,
        "width": "6",
        "height": "5",
        "label": "Señal procesada (MCU)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "170563e1871e8617",
        "type": "ui_text",
        "z": "9220226561862fc2",
        "group": "6b0ae36dd36b3544",
        "order": 9,
        "width": "6",
        "height": "2",
        "name": "",
        "label": "PROCESAMIENTO DEL MICROCONTROLADOR",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": 16,
        "color": "#110de3",
        "x": 1350,
        "y": 420,
        "wires": []
    },
    {
        "id": "b70f3344ed8222fc",
        "type": "function",
        "z": "9220226561862fc2",
        "name": "Microcontrolador",
        "func": "let entrada = msg.payload;\nlet salida = entrada * 0.98;\n\nmsg.payload = salida;\n\nflow.set(\"entrada_mcu\", entrada);\nflow.set(\"salida_mcu\", salida);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 480,
        "wires": [
            [
                "0660f4a9a62cbd82",
                "5b6f092ea13c8002"
            ]
        ],
        "outputLabels": [
            "1"
        ]
    },
    {
        "id": "5b6f092ea13c8002",
        "type": "function",
        "z": "9220226561862fc2",
        "name": "Texto MCU",
        "func": "let entrada = flow.get(\"entrada_mcu\");\nlet salida = flow.get(\"salida_mcu\");\n\nif (entrada === undefined || salida === undefined) {\n    return null;\n}\n\nmsg.payload = \"Entrada: \" + entrada.toFixed(2) +\n    \" W → Salida: \" + salida.toFixed(2) + \" W\";\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 500,
        "wires": [
            [
                "170563e1871e8617"
            ]
        ]
    },
    {
        "id": "c7c295c17eee0201",
        "type": "inject",
        "z": "9220226561862fc2",
        "name": "Radiacion solar",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 830,
        "y": 640,
        "wires": [
            [
                "8e57d10b639442b9",
                "08281c0898201368",
                "5a1e26a8b1bb2857"
            ]
        ]
    },
    {
        "id": "8e57d10b639442b9",
        "type": "function",
        "z": "9220226561862fc2",
        "name": "Radiacion",
        "func": "// ============================================\n// RADIACIÓN SOLAR (TEMPERATURA LIGADA)\n// ============================================\n\n// 1. Generar radiación\nlet radiacion = Math.floor(Math.random() * 1200);\n\n// 2. Calcular temperatura y porcentajes SEGÚN radiación\nlet temperatura;\nlet climaTexto;\nlet pClima, pVentila, pEquipos, pIlumina;\n\nif (radiacion <= 200) {\n    temperatura = 20;\n    climaTexto = \"🌧️ Nublado\";\n    pClima = 0.00;\n    pVentila = 0.00;\n    pEquipos = 0.40;\n    pIlumina = 0.60;\n}\nelse if (radiacion <= 400) {\n    temperatura = 23;\n    climaTexto = \"🌥️ Parcial nublado\";\n    pClima = 0.00;\n    pVentila = 0.15;\n    pEquipos = 0.35;\n    pIlumina = 0.50;\n}\nelse if (radiacion <= 600) {\n    temperatura = 25;\n    climaTexto = \"🌤️ Soleado suave\";\n    pClima = 0.00;\n    pVentila = 0.30;\n    pEquipos = 0.35;\n    pIlumina = 0.35;\n}\nelse if (radiacion <= 800) {\n    temperatura = 27;\n    climaTexto = \"☀️ Soleado moderado\";\n    pClima = 0.15;\n    pVentila = 0.30;\n    pEquipos = 0.30;\n    pIlumina = 0.25;\n}\nelse if (radiacion <= 1000) {\n    temperatura = 29;\n    climaTexto = \"🔆 Soleado fuerte\";\n    pClima = 0.35;\n    pVentila = 0.20;\n    pEquipos = 0.25;\n    pIlumina = 0.20;\n}\nelse {\n    temperatura = 32;\n    climaTexto = \"🔥 Muy caluroso\";\n    pClima = 0.50;\n    pVentila = 0.15;\n    pEquipos = 0.20;\n    pIlumina = 0.15;\n}\n\n// 3. Guardar variables\nflow.set(\"radiacion_solar\", radiacion);\nflow.set(\"temperatura\", temperatura);\nflow.set(\"clima_texto\", climaTexto);\nflow.set(\"p_clima\", pClima);\nflow.set(\"p_ventila\", pVentila);\nflow.set(\"p_equipos\", pEquipos);\nflow.set(\"p_ilumina\", pIlumina);\n\n// ============================================\n// 4. ENVIAR A MÚLTIPLES SALIDAS\n// ============================================\n\n// Salida 1: MPPT (recibe radiación)\nlet msgMPPT = { payload: radiacion };\n\n// Salida 2: Control Clima (recibe radiación)\nlet msgControl = { payload: radiacion };\n\n// 5. Depuración\nnode.warn(`☀️ ${radiacion}W/m² → 🌡️ ${temperatura}°C | ${climaTexto}`);\nnode.warn(`📊 Aire:${pClima * 100}% | Vent:${pVentila * 100}% | Equip:${pEquipos * 100}% | Luz:${pIlumina * 100}%`);\n\n// Enviar a 2 salidas\nreturn [[msgMPPT], [msgControl]];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 600,
        "wires": [
            [
                "7bcd3e5e77032e05",
                "d5b6b96e42833fe5"
            ],
            [
                "8f1c4762e72002e6",
                "03bea034969fc5bc"
            ]
        ]
    },
    {
        "id": "a18cb7d119d2f30c",
        "type": "ui_chart",
        "z": "9220226561862fc2",
        "name": "",
        "group": "4e320cbc564278df",
        "order": 4,
        "width": "12",
        "height": "5",
        "label": "Radiacion solar (W/m2)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#f97706",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1770,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "01216a55625c6c97",
        "type": "function",
        "z": "9220226561862fc2",
        "name": "Bateria",
        "func": "// Esta función va ANTES del gauge\nlet bateria_wh = flow.get(\"bateria_wh\") || 15000;\n\n// Enviar SOLO el número (sin texto, sin porcentaje)\nmsg.payload = Math.round(bateria_wh);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 100,
        "wires": [
            [
                "293e3d916d35c07c",
                "e41d420de93a2331"
            ]
        ]
    },
    {
        "id": "293e3d916d35c07c",
        "type": "ui_gauge",
        "z": "9220226561862fc2",
        "name": "",
        "group": "5615d5019022dac6",
        "order": 4,
        "width": "6",
        "height": "3",
        "gtype": "donut",
        "title": "NIVEL BATERIA",
        "label": "units",
        "format": "{{value}} Wh",
        "min": "0",
        "max": "30000",
        "colors": [
            "#b30000",
            "#e6e600",
            "#0ff535"
        ],
        "seg1": "9000",
        "seg2": "21000",
        "diff": false,
        "className": "",
        "x": 780,
        "y": 360,
        "wires": []
    },
    {
        "id": "2962f156618cf57c",
        "type": "function",
        "z": "9220226561862fc2",
        "name": "Circuitos",
        "func": "// Energía que llega del inversor\nlet energiaAC = msg.payload || 0;\n\n// Leer porcentajes desde Control Clima\nlet pClima = flow.get(\"p_clima\") || 0.40;\nlet pVentila = flow.get(\"p_ventila\") || 0.15;\nlet pEquipos = flow.get(\"p_equipos\") || 0.25;\nlet pIlumina = flow.get(\"p_ilumina\") || 0.20;\n\n// Calcular consumos\nlet clima = Math.round(energiaAC * pClima);\nlet equipos = Math.round(energiaAC * pEquipos);\nlet iluminacion = Math.round(energiaAC * pIlumina);\nlet ventilacion = Math.round(energiaAC * pVentila);\n\n// Enviar a los 4 circuitos\nreturn [\n    { payload: clima },\n    { payload: equipos },\n    { payload: iluminacion },\n    { payload: ventilacion }\n];",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 160,
        "y": 740,
        "wires": [
            [
                "159cb61c916a7e4f",
                "d4de6e89b917a205"
            ],
            [
                "25ca3cd0db224cbf",
                "65674213dd9a72e3"
            ],
            [
                "a2d5e8e9ad57d42f",
                "25a05825dc9513e8"
            ],
            [
                "fe738b5809b64869",
                "99c8f44ff563ffd5"
            ]
        ]
    },
    {
        "id": "159cb61c916a7e4f",
        "type": "function",
        "z": "9220226561862fc2",
        "name": "Climatizacion",
        "func": "msg.payload = msg.payload;\nflow.set(\"climatizacion\", msg.payload);  // ← SOLO AGREGAS ESTA LÍNEA\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 740,
        "wires": [
            [
                "974ccf11b59b33fa",
                "8ffbecbbc15563d6",
                "656ff82c3849e23c"
            ]
        ]
    },
    {
        "id": "25ca3cd0db224cbf",
        "type": "function",
        "z": "9220226561862fc2",
        "name": "Equipos",
        "func": "msg.payload = msg.payload;\nflow.set(\"equipos\", msg.payload);  // ← AGREGAR\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 800,
        "wires": [
            [
                "598c4f8fe2526502",
                "611bb92e01565ee9",
                "656ff82c3849e23c"
            ]
        ]
    },
    {
        "id": "a2d5e8e9ad57d42f",
        "type": "function",
        "z": "9220226561862fc2",
        "name": "Iluminacion",
        "func": "msg.payload = msg.payload;\nflow.set(\"iluminacion\", msg.payload);  // ← AGREGAR\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 860,
        "wires": [
            [
                "f6cb0d317a06e555",
                "29c1c38a2f062cf9",
                "656ff82c3849e23c"
            ]
        ]
    },
    {
        "id": "99c8f44ff563ffd5",
        "type": "function",
        "z": "9220226561862fc2",
        "name": "Ventilacion",
        "func": "// Verificar qué llega\nnode.warn(\"=== NODO VENTILACION ===\");\nnode.warn(\"Payload recibido: \" + JSON.stringify(msg.payload));\n\n// Extraer el valor\nlet valor = msg.payload;\n\n// Si es objeto, extraer payload\nif (typeof valor === 'object' && valor !== null) {\n    valor = valor.payload || valor;\n}\n\n// Convertir a número\nvalor = Number(valor);\nif (isNaN(valor)) valor = 0;\n\n// Redondear\nmsg.payload = Math.round(valor);\n\n// ✅ AGREGAR\nflow.set(\"ventilacion\", msg.payload);\n\nnode.warn(\"Ventilación enviando: \" + msg.payload + \"W\");\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 920,
        "wires": [
            [
                "659e2805a965b228",
                "4ea583d5f77d7bc9",
                "656ff82c3849e23c"
            ]
        ]
    },
    {
        "id": "974ccf11b59b33fa",
        "type": "ui_gauge",
        "z": "9220226561862fc2",
        "name": "",
        "group": "a381315b0257b8e7",
        "order": 4,
        "width": "3",
        "height": "4",
        "gtype": "gage",
        "title": "C1 – Climatización (W)",
        "label": "units",
        "format": "{{value | number:0}} W",
        "min": 0,
        "max": "500",
        "colors": [
            "#2cf005",
            "#e6e600",
            "#f70202"
        ],
        "seg1": "150",
        "seg2": "350",
        "diff": false,
        "className": "",
        "x": 920,
        "y": 740,
        "wires": []
    },
    {
        "id": "598c4f8fe2526502",
        "type": "ui_gauge",
        "z": "9220226561862fc2",
        "name": "",
        "group": "a381315b0257b8e7",
        "order": 5,
        "width": "3",
        "height": "4",
        "gtype": "gage",
        "title": "C2 – Equipos (W)",
        "label": "units",
        "format": "{{value | number:0}} W",
        "min": 0,
        "max": "500",
        "colors": [
            "#64f702",
            "#e6e600",
            "#fa0511"
        ],
        "seg1": "150",
        "seg2": "350",
        "diff": false,
        "className": "",
        "x": 910,
        "y": 800,
        "wires": []
    },
    {
        "id": "f6cb0d317a06e555",
        "type": "ui_gauge",
        "z": "9220226561862fc2",
        "name": "",
        "group": "a381315b0257b8e7",
        "order": 6,
        "width": "3",
        "height": "4",
        "gtype": "gage",
        "title": "C3 – Iluminación (W)",
        "label": "units",
        "format": "{{value | number:0}} W",
        "min": 0,
        "max": "500",
        "colors": [
            "#5bf906",
            "#e6e600",
            "#f60404"
        ],
        "seg1": "150",
        "seg2": "350",
        "diff": false,
        "className": "",
        "x": 920,
        "y": 860,
        "wires": []
    },
    {
        "id": "4ea583d5f77d7bc9",
        "type": "ui_gauge",
        "z": "9220226561862fc2",
        "name": "",
        "group": "a381315b0257b8e7",
        "order": 7,
        "width": "3",
        "height": "4",
        "gtype": "gage",
        "title": "C4 – Ventilación (W)",
        "label": "units",
        "format": "{{value | number:0}} W",
        "min": 0,
        "max": "500",
        "colors": [
            "#44f91f",
            "#e6e600",
            "#e40101"
        ],
        "seg1": "150",
        "seg2": "350",
        "diff": false,
        "className": "",
        "x": 920,
        "y": 920,
        "wires": []
    },
    {
        "id": "a05cfa5692648562",
        "type": "debug",
        "z": "9220226561862fc2",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 560,
        "wires": []
    },
    {
        "id": "7bcd3e5e77032e05",
        "type": "function",
        "z": "9220226561862fc2",
        "name": "MPPT (Optimización Solar)",
        "func": "let radiacion = Number(msg.payload);\n\nif (isNaN(radiacion) || radiacion < 0) radiacion = 500;\nradiacion = Math.min(radiacion, 1200);\n\nlet eficiencia;\nif (radiacion < 200) {\n    eficiencia = 0.60;\n} else if (radiacion < 600) {\n    eficiencia = 0.75;\n} else {\n    eficiencia = 0.85 + (Math.random() * 0.1);\n}\n\nlet salida = radiacion * eficiencia;\n\n// Para el gauge de potencia (0-1000W)\nmsg.payload = Math.round(salida);\n\n// Guardar eficiencia como porcentaje (0-100)\nlet eficienciaPorcentaje = Math.round(eficiencia * 100);\nflow.set(\"eficiencia_mppt\", eficienciaPorcentaje);\nflow.set(\"energia_mppt\", msg.payload);\nflow.set(\"radiacion_actual\", radiacion);\n\nnode.warn(`🔆 ${radiacion}W/m² → ${eficienciaPorcentaje}% → ${msg.payload}W`);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1420,
        "y": 620,
        "wires": [
            [
                "19a3af67945c13cb",
                "1b2806463b2decb6",
                "b31e92e5f4473864",
                "85a02716d3c6455f",
                "6ba0c5c7c481ca5b"
            ]
        ]
    },
    {
        "id": "9a884a2cc55a1074",
        "type": "ui_gauge",
        "z": "9220226561862fc2",
        "name": "",
        "group": "4e320cbc564278df",
        "order": 6,
        "width": "6",
        "height": "5",
        "gtype": "donut",
        "title": " Eficiencia MPPT",
        "label": "units",
        "format": "{{value}}%",
        "min": 0,
        "max": "100",
        "colors": [
            "#c60e01",
            "#e6e600",
            "#68f40b"
        ],
        "seg1": "30",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 1700,
        "y": 680,
        "wires": []
    },
    {
        "id": "85a02716d3c6455f",
        "type": "function",
        "z": "9220226561862fc2",
        "name": "MOSTRAR MPPT",
        "func": "let radiacion = flow.get(\"radiacion_actual\") || 0;\nlet eficiencia = flow.get(\"eficiencia_mppt\") || 0;\nlet potencia = flow.get(\"energia_mppt\") || 0;\n\n// Soles al inicio\nlet soles = \"☀️\";\nif (radiacion > 800) soles = \"☀️☀️☀️\";\nelse if (radiacion > 500) soles = \"☀️☀️\";\nelse if (radiacion > 200) soles = \"☀️\";\nelse soles = \"⛅\";\n\n// Rayos al final\nlet rayos = \"⚡\";\nif (potencia > 700) rayos = \"⚡⚡⚡\";\nelse if (potencia > 400) rayos = \"⚡⚡\";\nelse if (potencia > 100) rayos = \"⚡\";\nelse rayos = \"·\";\n\nmsg.payload = `${soles} ${radiacion} W/m² → ${eficiencia}% → ${rayos} ${potencia} W`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1570,
        "y": 800,
        "wires": [
            [
                "2c64b921e231686c"
            ]
        ]
    },
    {
        "id": "19a3af67945c13cb",
        "type": "debug",
        "z": "9220226561862fc2",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1640,
        "y": 560,
        "wires": []
    },
    {
        "id": "10212fc9bed7c3ae",
        "type": "function",
        "z": "9220226561862fc2",
        "name": "Wifi simulado",
        "func": "let calidad = Math.random();\n\nlet estado = \"\";\nlet factor = 1;\nlet congelar = false;  // ← NUEVA variable\n\nif (calidad > 0.7) {\n    estado = \"🟢 Señal buena\";\n    factor = 1;\n    congelar = false;   // ← No congelar\n} else if (calidad > 0.3) {\n    estado = \"🟡 Señal inestable\";\n    factor = 0.5;\n    congelar = false;   // ← No congelar\n} else {\n    estado = \"🔴 Sin conexión\";\n    factor = 0;\n    congelar = true;    // ← CONGELAR datos\n}\n\n// Guardar valores\nflow.set(\"factor_wifi\", factor);\nflow.set(\"estado_wifi\", estado);\nflow.set(\"wifi_congelar\", congelar);  // ← NUEVO: guardar estado de congelación\n\n// Para el dashboard (texto)\nmsg.payload = estado;\n\nnode.warn(`📡 WiFi: calidad=${Math.round(calidad * 100)}%, factor=${factor}, estado=${estado}, congelar=${congelar}`);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 1060,
        "wires": [
            [
                "ed900a4f10ef54ed",
                "d233467ac160f486"
            ]
        ]
    },
    {
        "id": "ed900a4f10ef54ed",
        "type": "ui_text",
        "z": "9220226561862fc2",
        "group": "5615d5019022dac6",
        "order": 6,
        "width": "6",
        "height": "2",
        "name": "",
        "label": "Estado - Wi fi",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 770,
        "y": 1180,
        "wires": []
    },
    {
        "id": "d233467ac160f486",
        "type": "debug",
        "z": "9220226561862fc2",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 1240,
        "wires": []
    },
    {
        "id": "d4de6e89b917a205",
        "type": "debug",
        "z": "9220226561862fc2",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 680,
        "wires": []
    },
    {
        "id": "65674213dd9a72e3",
        "type": "debug",
        "z": "9220226561862fc2",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 740,
        "wires": []
    },
    {
        "id": "25a05825dc9513e8",
        "type": "debug",
        "z": "9220226561862fc2",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 800,
        "wires": []
    },
    {
        "id": "fe738b5809b64869",
        "type": "debug",
        "z": "9220226561862fc2",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 860,
        "wires": []
    },
    {
        "id": "8ffbecbbc15563d6",
        "type": "debug",
        "z": "9220226561862fc2",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 680,
        "wires": []
    },
    {
        "id": "611bb92e01565ee9",
        "type": "debug",
        "z": "9220226561862fc2",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 800,
        "wires": []
    },
    {
        "id": "29c1c38a2f062cf9",
        "type": "debug",
        "z": "9220226561862fc2",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 860,
        "wires": []
    },
    {
        "id": "659e2805a965b228",
        "type": "debug",
        "z": "9220226561862fc2",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 1020,
        "wires": []
    },
    {
        "id": "b31e92e5f4473864",
        "type": "function",
        "z": "9220226561862fc2",
        "name": "Funcion eficiencia",
        "func": "// Extraer eficiencia guardada\nmsg.payload = flow.get(\"eficiencia_mppt\") || 0;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1710,
        "y": 620,
        "wires": [
            [
                "9a884a2cc55a1074"
            ]
        ]
    },
    {
        "id": "2c64b921e231686c",
        "type": "ui_text",
        "z": "9220226561862fc2",
        "group": "4e320cbc564278df",
        "order": 7,
        "width": "6",
        "height": "4",
        "name": "",
        "label": "RADIACION - EFICIENCIA - POTENCIA",
        "format": "{{value}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "18",
        "color": "#e1f00f",
        "x": 1560,
        "y": 860,
        "wires": []
    },
    {
        "id": "705f0ea326db7c93",
        "type": "ui_text",
        "z": "9220226561862fc2",
        "group": "5615d5019022dac6",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "% Bateria",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 960,
        "y": 160,
        "wires": []
    },
    {
        "id": "0516edf532d66887",
        "type": "function",
        "z": "9220226561862fc2",
        "name": "bateria %",
        "func": "// Esta función va ANTES del texto\nlet bateria_wh = flow.get(\"bateria_wh\") || 15000;\nlet capacidad = 30000;\nlet porcentaje = (bateria_wh / capacidad) * 100;\n\nlet emoji = porcentaje > 70 ? \"🔋🔋🔋\" : porcentaje > 30 ? \"🔋🔋\" : \"🪫⚠️\";\n\nmsg.payload = `${emoji} ${Math.round(porcentaje)}% (${(bateria_wh / 1000).toFixed(1)}/30 kWh)`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 160,
        "wires": [
            [
                "705f0ea326db7c93",
                "94b020df3ea2bfc0"
            ]
        ]
    },
    {
        "id": "e41d420de93a2331",
        "type": "debug",
        "z": "9220226561862fc2",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 100,
        "wires": []
    },
    {
        "id": "94b020df3ea2bfc0",
        "type": "debug",
        "z": "9220226561862fc2",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 220,
        "wires": []
    },
    {
        "id": "656ff82c3849e23c",
        "type": "function",
        "z": "9220226561862fc2",
        "name": "suma de circuitos",
        "func": "let c1 = flow.get(\"climatizacion\") || 0;\nlet c2 = flow.get(\"equipos\") || 0;\nlet c3 = flow.get(\"iluminacion\") || 0;\nlet c4 = flow.get(\"ventilacion\") || 0;\n\nlet consumoTotal = c1 + c2 + c3 + c4;\nflow.set(\"consumo_total\", consumoTotal);\n\n// ✅ Enviar la SUMA al gauge\nmsg.payload = consumoTotal;\n\nnode.warn(`⚠️ TOTAL CONSUMO: ${c1}+${c2}+${c3}+${c4} = ${consumoTotal} W`);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 280,
        "wires": [
            [
                "c5c0e5f36dff512e",
                "3d90d488c275ad48",
                "5599f2564cba40d2",
                "a188fab1dcaff439",
                "8a08f6f9790c0197"
            ]
        ]
    },
    {
        "id": "c5c0e5f36dff512e",
        "type": "function",
        "z": "9220226561862fc2",
        "name": "bateria principal",
        "func": "let generacion = flow.get(\"generacion\") || 500;\nlet consumo = flow.get(\"consumo_total\") || 400;\n\nlet capacidadMaxima = 30000;\nlet bateria_wh = flow.get(\"bateria_wh\") || 15000;\n\nlet balance = (generacion - consumo) / 10;\nbateria_wh = bateria_wh + balance;\nbateria_wh = Math.max(0, Math.min(bateria_wh, capacidadMaxima));\n\nflow.set(\"bateria_wh\", bateria_wh);\n\nnode.warn(`🔋 Gen:${generacion}W | Cons:${consumo}W | Bat:${Math.round(bateria_wh)}Wh`);\n\nmsg.payload = bateria_wh;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 180,
        "wires": [
            [
                "01216a55625c6c97",
                "0516edf532d66887"
            ]
        ]
    },
    {
        "id": "3d90d488c275ad48",
        "type": "ui_gauge",
        "z": "9220226561862fc2",
        "name": "",
        "group": "a381315b0257b8e7",
        "order": 8,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "TOTAL CIRCUITOS",
        "label": "units",
        "format": "{{value}} W",
        "min": "0",
        "max": "1500",
        "colors": [
            "#06f202",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1220,
        "y": 980,
        "wires": []
    },
    {
        "id": "5599f2564cba40d2",
        "type": "debug",
        "z": "9220226561862fc2",
        "name": "debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 980,
        "wires": []
    },
    {
        "id": "6ba0c5c7c481ca5b",
        "type": "debug",
        "z": "9220226561862fc2",
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 720,
        "wires": []
    },
    {
        "id": "8a08f6f9790c0197",
        "type": "function",
        "z": "9220226561862fc2",
        "name": "Dominante",
        "func": "let c1 = flow.get(\"climatizacion\") || 0;\nlet c2 = flow.get(\"equipos\") || 0;\nlet c3 = flow.get(\"iluminacion\") || 0;\nlet c4 = flow.get(\"ventilacion\") || 0;\n\nlet total = c1 + c2 + c3 + c4;\n\nif (total === 0) {\n    msg.payload = 0;\n    msg.texto = \"Sin datos\";\n    return msg;\n}\n\nlet mayor = Math.max(c1, c2, c3, c4);\nlet porcentaje = Math.round((mayor / total) * 100);\n\nlet nombre = \"\";\nif (mayor === c1) nombre = \"❄️ Climatización\";\nelse if (mayor === c2) nombre = \"💻 Equipos\";\nelse if (mayor === c3) nombre = \"💡 Iluminación\";\nelse nombre = \"🌬️ Ventilación\";\n\nmsg.payload = porcentaje;\nmsg.texto = `${nombre}: ${porcentaje}%`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 820,
        "wires": [
            [
                "297a1e91a2c4f585",
                "ef80c9d436831443"
            ]
        ]
    },
    {
        "id": "ef80c9d436831443",
        "type": "ui_gauge",
        "z": "9220226561862fc2",
        "name": "",
        "group": "5615d5019022dac6",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "CIRCUITO DOMINANTE",
        "label": "units",
        "format": "{{value}}%",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1390,
        "y": 1080,
        "wires": []
    },
    {
        "id": "9d9008da47f65728",
        "type": "ui_text",
        "z": "9220226561862fc2",
        "group": "5615d5019022dac6",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{value}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1350,
        "y": 1140,
        "wires": []
    },
    {
        "id": "297a1e91a2c4f585",
        "type": "function",
        "z": "9220226561862fc2",
        "name": "Texto dom",
        "func": "msg.payload = msg.texto;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 1080,
        "wires": [
            [
                "9d9008da47f65728"
            ]
        ]
    },
    {
        "id": "6f3e4317b5f018b6",
        "type": "ui_gauge",
        "z": "9220226561862fc2",
        "name": "",
        "group": "a381315b0257b8e7",
        "order": 3,
        "width": "3",
        "height": "4",
        "gtype": "gage",
        "title": "Temperatura",
        "label": "Grados",
        "format": "{{value}}",
        "min": 0,
        "max": "35",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "24",
        "seg2": "25",
        "diff": false,
        "className": "",
        "x": 1850,
        "y": 800,
        "wires": []
    },
    {
        "id": "08281c0898201368",
        "type": "function",
        "z": "9220226561862fc2",
        "name": "function 1",
        "func": "let rad = flow.get(\"radiacion_solar\") || 600;\nmsg.payload = rad;\nmsg.topic = \"Radiación\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1420,
        "y": 460,
        "wires": [
            [
                "a18cb7d119d2f30c",
                "952fd54e4686045c"
            ]
        ]
    },
    {
        "id": "5a1e26a8b1bb2857",
        "type": "function",
        "z": "9220226561862fc2",
        "name": "Temperatura",
        "func": "let temp = flow.get(\"temperatura\") || 25;\nmsg.payload = temp;\nmsg.topic = \"Temperatura\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 680,
        "wires": [
            [
                "6f3e4317b5f018b6",
                "4add61b82026a2f9",
                "a505dd832d28cdac"
            ]
        ]
    },
    {
        "id": "952fd54e4686045c",
        "type": "debug",
        "z": "9220226561862fc2",
        "name": "debug 19",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1600,
        "y": 480,
        "wires": []
    },
    {
        "id": "4add61b82026a2f9",
        "type": "debug",
        "z": "9220226561862fc2",
        "name": "debug 20",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1780,
        "y": 740,
        "wires": []
    },
    {
        "id": "d5b6b96e42833fe5",
        "type": "debug",
        "z": "9220226561862fc2",
        "name": "debug 21",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1190,
        "y": 480,
        "wires": []
    },
    {
        "id": "8f1c4762e72002e6",
        "type": "debug",
        "z": "9220226561862fc2",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1320,
        "y": 540,
        "wires": []
    },
    {
        "id": "03bea034969fc5bc",
        "type": "function",
        "z": "9220226561862fc2",
        "name": "CONTROL CLIMA",
        "func": "// Recibir radiación desde la Salida 2 de Radiación Solar\nlet radiacion = msg.payload;\n\n// Si no llegó nada, usar valor por defecto\nif (radiacion === undefined || radiacion === null) {\n    radiacion = flow.get(\"radiacion_solar\") || 600;\n}\n\n// Determinar mensaje según radiación\nlet mensaje = \"\";\nif (radiacion < 200) {\n    mensaje = \"🌧️ Día nublado - Sin refrigeración\";\n} else if (radiacion > 800) {\n    mensaje = \"🔴 Aire acondicionado ON\";\n} else {\n    mensaje = \"🟡 Ventiladores ON\";\n}\n\n// Enviar al dashboard\nmsg.payload = mensaje;\n\n// Depuración\nnode.warn(`📢 CONTROL CLIMA: ${mensaje} (Radiación: ${radiacion} W/m²)`);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 500,
        "wires": [
            [
                "e73bd7279674a785",
                "df21896f16f0de64"
            ]
        ]
    },
    {
        "id": "e73bd7279674a785",
        "type": "ui_text",
        "z": "9220226561862fc2",
        "group": "6b0ae36dd36b3544",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "CONTROL DEL CLIMA",
        "format": "{{value}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 390,
        "y": 420,
        "wires": []
    },
    {
        "id": "df21896f16f0de64",
        "type": "debug",
        "z": "9220226561862fc2",
        "name": "debug 18",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 500,
        "wires": []
    },
    {
        "id": "a505dd832d28cdac",
        "type": "ui_chart",
        "z": "9220226561862fc2",
        "name": "",
        "group": "4e320cbc564278df",
        "order": 5,
        "width": "12",
        "height": "5",
        "label": "Historial temperatura °C",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1910,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "70abe89d5de88eec",
        "type": "ui_gauge",
        "z": "9220226561862fc2",
        "name": "",
        "group": "a381315b0257b8e7",
        "order": 2,
        "width": "3",
        "height": "4",
        "gtype": "wave",
        "title": "Consumo energetico",
        "label": "Wats",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1600,
        "y": 100,
        "wires": []
    },
    {
        "id": "4e320cbc564278df",
        "type": "ui_group",
        "name": "GENERACION Y PROCESAMIENTO",
        "tab": "7b126f80eee287ac",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a381315b0257b8e7",
        "type": "ui_group",
        "name": "CONSUMO Y ENTORNO",
        "tab": "7b126f80eee287ac",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "5615d5019022dac6",
        "type": "ui_group",
        "name": "ANALISIS DEL SISTEMA",
        "tab": "7b126f80eee287ac",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "6b0ae36dd36b3544",
        "type": "ui_group",
        "name": "CONTROL INTELIGENTE",
        "tab": "7b126f80eee287ac",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7b126f80eee287ac",
        "type": "ui_tab",
        "name": "SISTEMA INTELIGENTE DE MONITOREO Y CONTROL ENERGÉTICO SOLAR PARA INSTITUCIONES EDUCATIVAS",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "658131f7e836a5f2",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]
