flows.json
[
  {
    "id": "site-settings",
    "type": "ui_base",
    "name": "UI Settings",
    "path": "/ui",
    "theme": "dark",
    "order": 0
  },
  {
    "id": "80ee16c1451b41a8",
    "type": "inject",
    "z": "ec1243374864dca2",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "15",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 110,
    "y": 40,
    "wires": [
      [
        "82592bb286961741"
      ]
    ]
  },
  {
    "id": "82592bb286961741",
    "type": "function",
    "z": "ec1243374864dca2",
    "name": "Generacion Solar (W vs Tiempo)",
    "func": "msg.topic = \"Generación\";\nmsg.payload = Math.floor(Math.random() * 1000) + 200;\n\nflow.set(\"generacion\", msg.payload);\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 190,
    "y": 120,
    "wires": [
      [
        "14387adac598fe61",
        "6488ea7ef27e3854",
        "e5d71496a330fc31",
        "2b99915d5786bcf2",
        "b70f3344ed8222fc",
        "01216a55625c6c97",
        "0516edf532d66887"
      ]
    ]
  },
  {
    "id": "14387adac598fe61",
    "type": "debug",
    "z": "ec1243374864dca2",
    "name": "debug 1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 720,
    "y": 20,
    "wires": []
  },
  {
    "id": "6488ea7ef27e3854",
    "type": "ui_chart",
    "z": "ec1243374864dca2",
    "name": "",
    "group": "4e320cbc564278df",
    "order": 1,
    "width": "12",
    "height": "5",
    "label": "Generacion Solar (W vs Tiempo)",
    "chartType": "line",
    "legend": "true",
    "xformat": "HH:mm",
    "interpolate": "linear",
    "nodata": "",
    "dot": true,
    "ymin": "",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#e5cd2e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 210,
    "y": 220,
    "wires": [
      []
    ]
  },
  {
    "id": "a188fab1dcaff439",
    "type": "function",
    "z": "ec1243374864dca2",
    "name": "function consumo",
    "func": "// ============================================\n// FUNCIÓN PARA GRÁFICA DE CONSUMO\n// Recibe datos desde \"suma de circuitos\"\n// ============================================\n\n// El valor de consumo real viene en msg.payload\nlet consumoReal = msg.payload;\n\n// Asegurar que sea número\nconsumoReal = Number(consumoReal);\nif (isNaN(consumoReal)) consumoReal = 0;\n\n// Configurar mensaje para la gráfica\nmsg.topic = \"Consumo\";\nmsg.payload = consumoReal;\n\n// Guardar para otros nodos (compatibilidad)\nflow.set(\"consumo\", consumoReal);\n\n// Depuración\nnode.warn(`📊 GRÁFICA CONSUMO REAL: ${consumoReal} W`);\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1210,
    "y": 40,
    "wires": [
      [
        "8e2d48aa4a25aa66",
        "e5d71496a330fc31",
        "2b99915d5786bcf2",
        "0a4584301b160bd3",
        "70abe89d5de88eec"
      ]
    ]
  },
  {
    "id": "8e2d48aa4a25aa66",
    "type": "ui_chart",
    "z": "ec1243374864dca2",
    "name": "",
    "group": "a381315b0257b8e7",
    "order": 1,
    "width": "6",
    "height": "5",
    "label": "Historial Consumo energetico (W)",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": true,
    "ymin": "",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 1480,
    "y": 40,
    "wires": [
      []
    ]
  },
  {
    "id": "e5d71496a330fc31",
    "type": "function",
    "z": "ec1243374864dca2",
    "name": "Comparacion",
    "func": "let gen = flow.get(\"generacion\");\nlet con = flow.get(\"consumo\");\n\nif (gen === undefined || con === undefined) {\n    return null;\n}\n\nlet estado = gen > con;\nlet mensaje = estado ? \"ENERGÍA SUFICIENTE\" : \"CONSUMO EXCESIVO\";\nlet color = estado ? \"#00ff00\" : \"#ff4444\";\nlet fondo = estado ? \"#0a2e0a\" : \"#2a0000\";\nlet emoji = estado ? \"✅⚡\" : \"⚠️🔥\";\n\nmsg.payload = `\n<div style=\"\n    background: ${fondo};\n    border-radius: 20px;\n    padding: 20px;\n    text-align: center;\n    border: 2px solid ${color};\n    box-shadow: 0 0 20px ${color};\n\">\n    <div style=\"font-size: 48px;\">${emoji}</div>\n    <div style=\"font-size: 22px; font-weight: bold; color: ${color}; margin: 10px 0;\">\n        ${mensaje}\n    </div>\n    <div style=\"font-size: 32px; font-weight: bold;\">\n        <span style=\"color: #00ff00;\">${gen}</span>\n        <span style=\"color: white;\"> vs </span>\n        <span style=\"color: #ff9800;\">${con}</span>\n    </div>\n    <div style=\"font-size: 18px; margin-top: 10px; color: ${color};\">\n        ${estado ? `✔ +${gen - con} W` : `⚠ -${con - gen} W`}\n    </div>\n</div>\n`;\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1370,
    "y": 160,
    "wires": [
      [
        "550c58045daf937d"
      ]
    ]
  },
  {
    "id": "550c58045daf937d",
    "type": "ui_text",
    "z": "ec1243374864dca2",
    "group": "5615d5019022dac6",
    "order": 1,
    "width": "6",
    "height": "3",
    "name": "",
    "label": "ESTADO ENERGETICO DEL SISTEMA",
    "format": "{{msg.payload}}",
    "layout": "col-center",
    "className": "",
    "style": true,
    "font": "Times New Roman,Times,serif",
    "fontSize": "16",
    "color": "#ededf2",
    "x": 1440,
    "y": 240,
    "wires": []
  },
  {
    "id": "1b2806463b2decb6",
    "type": "function",
    "z": "ec1243374864dca2",
    "name": "Inversor",
    "func": "// Obtener energía del MPPT (no del WiFi)\nlet energiaMPPT = flow.get(\"energia_mppt\") || 500;\n\n// Obtener factor WiFi\nlet factorWiFi = flow.get(\"factor_wifi\") || 1;\n\n// Aplicar factor WiFi a la energía\nlet energiaDC = energiaMPPT * factorWiFi;\n\nlet eficiencia = 0.9;\nlet salida = energiaDC * eficiencia;\n\nmsg.payload = Math.round(salida);\n\nnode.warn(`Inversor: ${energiaMPPT}W (MPPT) × ${factorWiFi} (WiFi) × 0.9 = ${msg.payload}W`);\n\n// Guardar para otros nodos\nflow.set(\"energia_ac\", msg.payload);\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 320,
    "y": 1060,
    "wires": [
      [
        "3976f46b68afcfcd",
        "a05cfa5692648562",
        "2962f156618cf57c",
        "10212fc9bed7c3ae"
      ]
    ]
  },
  {
    "id": "3976f46b68afcfcd",
    "type": "ui_chart",
    "z": "ec1243374864dca2",
    "name": "",
    "group": "4e320cbc564278df",
    "order": 2,
    "width": "6",
    "height": "5",
    "label": "Energia Disponible AC (W)",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": true,
    "ymin": "",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 220,
    "y": 1200,
    "wires": [
      []
    ]
  },
  {
    "id": "2b99915d5786bcf2",
    "type": "function",
    "z": "ec1243374864dca2",
    "name": "Eficiencia",
    "func": "let gen = flow.get(\"generacion\") || 0;\nlet con = flow.get(\"consumo\") || 0;\n\nif (gen === 0 || con === 0) {\n    return null;\n}\n\n// nueva fórmula coherente\nlet eficiencia = (gen / con) * 100;\n\n// limitar a 100% máximo\nif (eficiencia > 100) {\n    eficiencia = 100;\n}\n\nmsg.payload = eficiencia.toFixed(2) + \" %\";\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1100,
    "y": 260,
    "wires": [
      [
        "465ee2f04dfd25cd"
      ]
    ]
  },
  {
    "id": "465ee2f04dfd25cd",
    "type": "ui_text",
    "z": "ec1243374864dca2",
    "group": "5615d5019022dac6",
    "order": 2,
    "width": "0",
    "height": "0",
    "name": "",
    "label": "EFICIENCIA ENERGETICA DEL SISTEMA ",
    "format": "{{msg.payload}}",
    "layout": "col-center",
    "className": "",
    "style": true,
    "font": "Times New Roman,Times,serif",
    "fontSize": "15",
    "color": "#f8f7f7",
    "x": 1370,
    "y": 340,
    "wires": []
  },
  {
    "id": "0a4584301b160bd3",
    "type": "function",
    "z": "ec1243374864dca2",
    "name": "Alerta Consumo",
    "func": "let consumo = msg.payload;\n\nif (consumo > 900) {\n    msg.payload = \"🔴 Sobreconsumo\";\n} else if (consumo > 600) {\n    msg.payload = \"🟡 Consumo medio\";\n} else {\n    msg.payload = \"🟢 Consumo normal\";\n}\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1020,
    "y": 320,
    "wires": [
      [
        "97cab898aca29b28"
      ]
    ]
  },
  {
    "id": "97cab898aca29b28",
    "type": "ui_text",
    "z": "ec1243374864dca2",
    "group": "5615d5019022dac6",
    "order": 3,
    "width": "6",
    "height": "2",
    "name": "",
    "label": "ALERTA DE CONSUMO",
    "format": "{{msg.payload}}",
    "layout": "col-center",
    "className": "",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#000000",
    "x": 1010,
    "y": 380,
    "wires": []
  },
  {
    "id": "0660f4a9a62cbd82",
    "type": "ui_chart",
    "z": "ec1243374864dca2",
    "name": "",
    "group": "4e320cbc564278df",
    "order": 3,
    "width": "6",
    "height": "5",
    "label": "Señal procesada (MCU)",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": true,
    "ymin": "",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 750,
    "y": 420,
    "wires": [
      []
    ]
  },
  {
    "id": "170563e1871e8617",
    "type": "ui_text",
    "z": "ec1243374864dca2",
    "group": "6b0ae36dd36b3544",
    "order": 9,
    "width": "6",
    "height": "2",
    "name": "",
    "label": "PROCESAMIENTO DEL MICROCONTROLADOR",
    "format": "{{msg.payload}}",
    "layout": "col-center",
    "className": "",
    "style": true,
    "font": "",
    "fontSize": 16,
    "color": "#ffffff",
    "x": 1350,
    "y": 420,
    "wires": []
  },
  {
    "id": "b70f3344ed8222fc",
    "type": "function",
    "z": "ec1243374864dca2",
    "name": "Microcontrolador",
    "func": "let entrada = msg.payload;\nlet salida = entrada * 0.98;\n\nmsg.payload = salida;\n\nflow.set(\"entrada_mcu\", entrada);\nflow.set(\"salida_mcu\", salida);\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 750,
    "y": 480,
    "wires": [
      [
        "0660f4a9a62cbd82",
        "5b6f092ea13c8002"
      ]
    ],
    "outputLabels": [
      "1"
    ]
  },
  {
    "id": "5b6f092ea13c8002",
    "type": "function",
    "z": "ec1243374864dca2",
    "name": "Texto MCU",
    "func": "let entrada = flow.get(\"entrada_mcu\");\nlet salida = flow.get(\"salida_mcu\");\n\nif (entrada === undefined || salida === undefined) {\n    return null;\n}\n\nmsg.payload = \"Entrada: \" + entrada.toFixed(2) +\n    \" W → Salida: \" + salida.toFixed(2) + \" W\";\n\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 970,
    "y": 500,
    "wires": [
      [
        "170563e1871e8617"
      ]
    ]
  },
  {
    "id": "c7c295c17eee0201",
    "type": "inject",
    "z": "ec1243374864dca2",
    "name": "Radiacion solar",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "15",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 830,
    "y": 640,
    "wires": [
      [
        "8e57d10b639442b9",
        "08281c0898201368",
        "5a1e26a8b1bb2857"
      ]
    ]
  },
  {
    "id": "8e57d10b639442b9",
    "type": "function",
    "z": "ec1243374864dca2",
    "name": "Radiacion",
    "func": "// ============================================\n// RADIACIÓN SOLAR (TEMPERATURA LIGADA)\n// ============================================\n\n// 1. Generar radiación\nlet radiacion = Math.floor(Math.random() * 1200);\n\n// 2. Calcular temperatura y porcentajes SEGÚN radiación\nlet temperatura;\nlet climaTexto;\nlet pClima, pVentila, pEquipos, pIlumina;\n\nif (radiacion <= 200) {\n    temperatura = 20;\n    climaTexto = \"🌧️ Nublado\";\n    pClima = 0.00;\n    pVentila = 0.00;\n    pEquipos = 0.40;\n    pIlumina = 0.60;\n}\nelse if (radiacion <= 400) {\n    temperatura = 23;\n    climaTexto = \"🌥️ Parcial nublado\";\n    pClima = 0.00;\n    pVentila = 0.15;\n    pEquipos = 0.35;\n    pIlumina = 0.50;\n}\nelse if (radiacion <= 600) {\n    temperatura = 25;\n    climaTexto = \"🌤️ Soleado suave\";\n    pClima = 0.00;\n    pVentila = 0.30;\n    pEquipos = 0.35;\n    pIlumina = 0.35;\n}\nelse if (radiacion <= 800) {\n    temperatura = 27;\n    climaTexto = \"☀️ Soleado moderado\";\n    pClima = 0.15;\n    pVentila = 0.30;\n    pEquipos = 0.30;\n    pIlumina = 0.25;\n}\nelse if (radiacion <= 1000) {\n    temperatura = 29;\n    climaTexto = \"🔆 Soleado fuerte\";\n    pClima = 0.35;\n    pVentila = 0.20;\n    pEquipos = 0.25;\n    pIlumina = 0.20;\n}\nelse {\n    temperatura = 32;\n    climaTexto = \"🔥 Muy caluroso\";\n    pClima = 0.50;\n    pVentila = 0.15;\n    pEquipos = 0.20;\n    pIlumina = 0.15;\n}\n\n// 3. Guardar variables\nflow.set(\"radiacion_solar\", radiacion);\nflow.set(\"temperatura\", temperatura);\nflow.set(\"clima_texto\", climaTexto);\nflow.set(\"p_clima\", pClima);\nflow.set(\"p_ventila\", pVentila);\nflow.set(\"p_equipos\", pEquipos);\nflow.set(\"p_ilumina\", pIlumina);\n\n// ============================================\n// 4. ENVIAR A MÚLTIPLES SALIDAS\n// ============================================\n\n// Salida 1: MPPT (recibe radiación)\nlet msgMPPT = { payload: radiacion };\n\n// Salida 2: Control Clima (recibe radiación)\nlet msgControl = { payload: radiacion };\n\n// 5. Depuración\nnode.warn(`☀️ ${radiacion}W/m² → 🌡️ ${temperatura}°C | ${climaTexto}`);\nnode.warn(`📊 Aire:${pClima * 100}% | Vent:${pVentila * 100}% | Equip:${pEquipos * 100}% | Luz:${pIlumina * 100}%`);\n\n// Enviar a 2 salidas\nreturn [[msgMPPT], [msgControl]];",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1040,
    "y": 600,
    "wires": [
      [
        "7bcd3e5e77032e05",
        "d5b6b96e42833fe5"
      ],
      [
        "8f1c4762e72002e6",
        "03bea034969fc5bc"
      ]
    ]
  },
  {
    "id": "a18cb7d119d2f30c",
    "type": "ui_chart",
    "z": "ec1243374864dca2",
    "name": "",
    "group": "4e320cbc564278df",
    "order": 4,
    "width": "12",
    "height": "5",
    "label": "Radiacion solar (W/m2)",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": true,
    "ymin": "",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#f97706",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 1770,
    "y": 440,
    "wires": [
      []
    ]
  },
  {
    "id": "01216a55625c6c97",
    "type": "function",
    "z": "ec1243374864dca2",
    "name": "Bateria",
    "func": "// Esta función va ANTES del gauge\nlet bateria_wh = flow.get(\"bateria_wh\") || 15000;\n\n// Enviar SOLO el número (sin texto, sin porcentaje)\nmsg.payload = Math.round(bateria_wh);\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 700,
    "y": 100,
    "wires": [
      [
        "293e3d916d35c07c",
        "e41d420de93a2331"
      ]
    ]
  },
  {
    "id": "293e3d916d35c07c",
    "type": "ui_gauge",
    "z": "ec1243374864dca2",
    "name": "",
    "group": "5615d5019022dac6",
    "order": 4,
    "width": "6",
    "height": "3",
    "gtype": "donut",
    "title": "NIVEL BATERIA",
    "label": "units",
    "format": "{{value}} Wh",
    "min": "0",
    "max": "30000",
    "colors": [
      "#b30000",
      "#e6e600",
      "#0ff535"
    ],
    "seg1": "9000",
    "seg2": "21000",
    "diff": false,
    "className": "",
    "x": 780,
    "y": 360,
    "wires": []
  },
  {
    "id": "2962f156618cf57c",
    "type": "function",
    "z": "ec1243374864dca2",
    "name": "Circuitos",
    "func": "// Energía que llega del inversor\nlet energiaAC = msg.payload || 0;\n\n// Leer porcentajes desde Control Clima\nlet pClima = flow.get(\"p_clima\") || 0.40;\nlet pVentila = flow.get(\"p_ventila\") || 0.15;\nlet pEquipos = flow.get(\"p_equipos\") || 0.25;\nlet pIlumina = flow.get(\"p_ilumina\") || 0.20;\n\n// Calcular consumos\nlet clima = Math.round(energiaAC * pClima);\nlet equipos = Math.round(energiaAC * pEquipos);\nlet iluminacion = Math.round(energiaAC * pIlumina);\nlet ventilacion = Math.round(energiaAC * pVentila);\n\n// Enviar a los 4 circuitos\nreturn [\n    { payload: clima },\n    { payload: equipos },\n    { payload: iluminacion },\n    { payload: ventilacion }\n];",
    "outputs": 4,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 160,
    "y": 740,
    "wires": [
      [
        "159cb61c916a7e4f",
        "d4de6e89b917a205"
      ],
      [
        "25ca3cd0db224cbf",
        "65674213dd9a72e3"
      ],
      [
        "a2d5e8e9ad57d42f",
        "25a05825dc9513e8"
      ],
      [
        "fe738b5809b64869",
        "99c8f44ff563ffd5"
      ]
    ]
  },
  {
    "id": "159cb61c916a7e4f",
    "type": "function",
    "z": "ec1243374864dca2",
    "name": "Climatizacion",
    "func": "msg.payload = msg.payload;\nflow.set(\"climatizacion\", msg.payload);\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 570,
    "y": 740,
    "wires": [
      [
        "974ccf11b59b33fa",
        "8ffbecbbc15563d6",
        "656ff82c3849e23c"
      ]
    ]
  },
  {
    "id": "25ca3cd0db224cbf",
    "type": "function",
    "z": "ec1243374864dca2",
    "name": "Equipos",
    "func": "msg.payload = msg.payload;\nflow.set(\"equipos\", msg.payload);\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 800,
    "wires": [
      [
        "598c4f8fe2526502",
        "611bb92e01565ee9",
        "656ff82c3849e23c"
      ]
    ]
  },
  {
    "id": "a2d5e8e9ad57d42f",
    "type": "function",
    "z": "ec1243374864dca2",
    "name": "Iluminacion",
    "func": "msg.payload = msg.payload;\nflow.set(\"iluminacion\", msg.payload);\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 570,
    "y": 860,
    "wires": [
      [
        "f6cb0d317a06e555",
        "29c1c38a2f062cf9",
        "656ff82c3849e23c"
      ]
    ]
  },
  {
    "id": "99c8f44ff563ffd5",
    "type": "function",
    "z": "ec1243374864dca2",
    "name": "Ventilacion",
    "func": "let valor = msg.payload;\nif (typeof valor === 'object' && valor !== null) {\n    valor = valor.payload || valor;\n}\nvalor = Number(valor);\nif (isNaN(valor)) valor = 0;\nmsg.payload = Math.round(valor);\nflow.set(\"ventilacion\", msg.payload);\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 570,
    "y": 920,
    "w
